<div class="au-u-margin-bottom-large">
  <AuLabel>
    GPX bestand
  </AuLabel>
  <AuFileUpload

    @title="Laad hier uw GPX bestand op"
    @helpTextDragDrop={{this.helpTextDragDrop}}
    @multiple={{false}}
    @onFinishUpload={{(fn (mut this.show) true)}}
  />
</div>

{{#if this.show}}
  <AuLabel>
    My Leaflet map
  </AuLabel>

  <LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} style="width: 1000px; height: 400px; border: 2px solid black" @onLoad={{this.setupMap}} as |layers|>
    <layers.tile class="w-full h-full " @url="https://api.mapbox.com/styles/v1/aatauil/ckofvgb515cya17rykfxk202j/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiYWF0YXVpbCIsImEiOiJja29mdjdrNW8wY3p6Mm5tYTFpOGIzeXMyIn0.lQtGhWtzVQ48jpT9KpBqtg" />
  </LeafletMap>

  <div {{did-insert this.fetchMunicipalities}} class="au-u-margin-top-large">
    <AuLabel>
      Gemeenten + Prijzen
    </AuLabel>

    <AuTable>
      <:title>Totaal</:title>
      <:header>
        <tr>
          <th>Gemeente</th>
          <th>Postcode</th>
          <th>Bedrag</th>
        </tr>
      </:header>
      <:body>
        {{#each this.municipalities as |municipality|}}
          <tr>
            <td><strong>{{municipality.name}}</strong></td>
            <td>{{municipality.postalCode}}</td>
            <td>€{{municipality.cost}}</td>
          </tr>
        {{/each}}
      </:body>
      <:footer>
        <tr>
          <th>Totaal</th>
          <td></td>
          <td>€{{this.totalCost}}</td>
        </tr>
      </:footer>
    </AuTable>
  </div>
{{/if}}